:root {
  --accent: green;
}

/* https://cssloaders.github.io/ */
.loader{
  display:none;
}
.htmx-request .loader{
  display:inline;
}
.htmx-request.loader{
  display:inline;
}
.loader::after {
  content: '';
  width: 75%;
  height: 4.8px;
  background: green;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: loaderanim 0.75s linear infinite;
}
@keyframes loaderanim {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
  overflow-y: scroll;
  padding: 2rem;
  background: #404040;
  border: 2px solid;
  border-color: --accent;
}

#alert {
  color: red;
  z-index: 900;
}
.red-text {
  color: red;
}

.task-row {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  border-top: 1px solid;
}
.task-row h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.check-button, .check-button:hover {
  background-color: inherit;
}
.check-button:before {
  content: '✔️';
}
.check-button:hover:before {
  content: '✅';
}

#taskNew {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.9;
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: none;
    width: 100vw;
    height: 100vh;
  }
}
